<div class="first-view content-padding content-border-bottom">
  <h1 class="site-name">習慣SNS</h1>
  <h2>改善したいこと</h2>
  <form action="">
    <input type="text">
    <input type="submit" value="送信">
  </form>
</div>
<div class="how-to-use content-padding content-border-bottom">
  <h2>使い方</h2>
</div>
<div class="keyword content-padding content-border-bottom">
  <h2>キーワード</h2>
</div>

