<div class="first-view content-padding content-border-bottom">
  <h1 class="site-name center-text">習慣SNS</h1>
  <div>
    <p>
      このサイトは、人生を変えた習慣を共有し、自分自分の生活に取り入れる手助けをします。
    </p>
    <p>
      人の行動は45%ほどが習慣的な行動だと言われています。<br/>
      身につけている習慣が良ければ、良い方向に動き、良くないものであれば、悪い方向に動きそうです。<br/>
      例えば、睡眠では、睡眠不足が続いていると、日中のパフォーマンスが落ちて、信頼を落としてしまうこともあります。朝食を抜くと、集中力が出ないことやイライラすることがあります。
    </p>
    <p>
      そこで、習慣を見直して、良い習慣を取り入れ、人生を少しでも生きやすくしていきましょう。
    </p>
    <p>
      参考文献：
      <a href="https://minchalle.com/blog/recommended-daily-habits#1-145">
        みんチャレ | 小さな毎日の習慣で人生が大きく変わる！おすすめの習慣と継続のコツ
      </a>
    <p>
  </div>
</div>
<div class="how-to-use content-padding content-border-bottom">

</div>

