<h1>User#show</h1>
<table>
  <tr>
    <th>ユーザー名</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>アイコン</th>
    <td><%= image_tag get_user_icon(@user) %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><</td>
  </tr>
</table>
