<div class="">
  <% users.each do |user| %>
    <ul>
      <li><%= image_tag get_user_icon(user) %></li>
      <li><%= image_tag user.name %></li>
      <li><%= render 'shared/follows/btn', followed_user: user %></li>
    </ul>
  <% end %>
</div>
