/*
 *= require_tree .
 *= require_self
 */

@import "var";

//余白
$padding-bottom: 30px;
$padding-top: 10px;

html, body{
  margin: 0;
}

*{
  font-family: '游明朝',' Yu Mincho',YuMincho,' Hiragino Mincho Pro',serif;
}

a:hover{
  text-decoration: underline;
  opacity: 0.6;
}
.content-padding{
  padding: $padding-top 0 $padding-bottom;
}
.content-border-bottom{
  border-bottom: solid 1px black;
}
main{
  width: 90%;
  background-repeat: repeat;
  background-size: 80px;
  margin: 0 auto;
  background-color: white;
  border: solid 5px $green;
}
.main-inner{
  padding: 60px 0;
  width: 95%;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.container-fluid{
  padding-top: 80px;
  background-color: $yellow-green;
}
