/*
 *= require_tree .
 *= require_self
 */

@import "var";

html, body{
  margin: 0;
}

*{
  font-family: '游明朝',' Yu Mincho',YuMincho,' Hiragino Mincho Pro',serif;
}
a{
  color:blue;
  text-decoration: none;
  &:visited{
    color: blue;
  }
  &:hover{
    text-decoration: underline;
    opacity: 0.6;
  }
}

main{
  width: 90%;
  background-repeat: repeat;
  background-size: 80px;
  margin: 0 auto;
  background-color: white;
  border: solid 5px $green;
}
.main-inner{
  padding: 60px 0;
  width: 95%;
  margin: 0 auto;
}
.center-text{
  text-align: center;
}
.container-fluid{
  padding: 80px 0;
  background-color: $yellow-green;
}
.hidden{
  display: none;
}
.inline-center{
  display: block;
  text-align: center;
}

.notice, .alert{
  padding-left: 20px;
  border-radius: 10px;
  margin: 10px 10px;
}
.notice{
  border: 1px solid $cornflower;
}
.alert{
  border: 1px solid red;
}
