.diary-edition, .diary-delete{
  display: block;
  text-align: center;
}

.doing-time-title{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
}
.diary-form-button{
  display: block;
}
.diary-select{
  display: block;
  text-align: center;
  height: 30px;
  width: 100%;
}
.diary-form-button{
  display:block;
}
