.diary-edition, .diary-delete{
  display: block;
  text-align: center;
}

.doing-time-title{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
}
.diary-form-button{
  display: block;
}
.diary-select{
  display: block;
  text-align: center;
  height: 30px;
  width: 100%;
}
.diary-form-button{
  display: block;
}
.diary-habit-name{
  margin-top: 50px;
  margin-bottom: 0;
}
.ai-answer-container{
  display: none;
  margin: 0 auto;
  width: 600px;
  margin-bottom: 100px;
}
.chart{
  height: 50px;
  width: 100%;
}
@media screen and (max-width: 768px){
  .ai-answer-container {
    width: 300px;
  }
}
