@import "var";
$icon-large-size: 50px;
$account-menu-padding-size: 5px;
$icon-small-size: 20px;
.user-info-container{
  width: fit-content;
  margin: 0 auto;
}
.user-icon-large{
  display: inline;
  width: $icon-large-size;
  height: $icon-large-size;
  vertical-align: middle;
}
.user-icon-small{
  width: $icon-small-size;
  height: $icon-small-size;
}
.user-name-icon{
  height: $icon-large-size;
  width: 100%;
}
.user-info-container{
  .user-name{
    display: inline;
    font-size: 20px;
    vertical-align: middle;
  }
  .user-edition{
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
  }
}
.account-link, .follow-link, .following-link, .favorite-habit-link{
  display: inline-block;
  border: 1px solid $cornflower;
  padding:  $account-menu-padding-size;
  border-radius: 5px;
}

.follower-following-user-card{
  ul{
    box-sizing: border-box;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
  }
  border: solid 6px $cornflower;
  width: 360px;
  margin: 5px 5px;
  padding: 10px;
  box-sizing: border-box;
}
.index-user-icon{
  display: block;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 890px) {
  .follower-following-user-card {
    margin: 10px auto;
  }
}
