<% content_for(:page_title, "習慣検索")%>
<%= render 'shared/habits/index', habit_index: @habit_index %>
<h3 class="center-text">検索結果</h3>
<div class="top-pagination">
  <%= paginate @habits %>
</div>
<div class="search-result">
  <%= render 'shared/habits/card', habits: @habits %>
</div>
<div class="bottom-pagination">
  <%= paginate @habits %>
</div>
